/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.6;
  color: grey;
  text-align: center;
}

main{
  background-color: oldlace;
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

h2,
h3,
a {
  color: turquoise;
  text-transform: uppercase;
}

h2,
h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

ul {
  list-style-type: none;
}
/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
  font-size: 1.25em;
}

ul.main-nav {
  padding: 0;
}

.name a,
.main-nav a {
  text-align: center;
  display: block;
  padding: 10px 15px;
}

.main-nav a,
.footer-nav a {
	font-size: .95em;
	color: black;
	text-transform: uppercase;
}

.main-nav a:hover,
.footer-nav a:hover {
	color: plum;
}

.name, .main-nav li{
  text-align: center;
  font-weight: bold;
  color: black;
	margin-top: 6px;
  margin-bottom: 6px;
}

.main-nav li{
  background-color: white;
}

.foot-name, .main-footer a{
  font-size: 1em;
  text-align: center;
  padding: 10px 15px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.foot-name{
  position: absolute;
  top: 0;
  left: 0;
}

.main-footer span a{
  position: absolute;
  top: 0;
  right: 0;
}

.footer-nav {
  display: none;
}

/* ---- Layout Containers ---- */

.main-header{
  background-color: #fafafa;
  padding: 10px 0px;
}

.banner {
	background-color: #fafafa;
  padding: 5px 5px;
  margin-bottom: 15px;
}

.main-footer {
  border-top: grey solid 1px;
  background: #fafafa;
  padding: 2px 2px;
  text-align: center;
  position: relative;
}

.contact {
  margin: 100px 0px 50px 0px;
}

.col{
	text-align: center;

}

.container {
	padding-left: 1em;
	padding-right: 1em;
}

.skills .col{
  float: left;
  padding-left: 1em;
  padding-right: 1em;
}

.skills .primary{
  width:33%;
}	

.skills .secondary{
  width: 33%;
}

.skills .tertiary{
  width: 33%;
}

/* ---- Page Elements ---- */

.logo {
	width: 190px;
	
}

.profile-img {
  width: 70%;
  
}

.contact p {
  margin-bottom: 0px;
  font-family: 'Chilanka', cursive;
}

.contact span {
  font-weight: bold;
}

.skills img{
  height: 100px;
}

	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

  a{
    background-color: #fafafa;
  }

	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}
  /* ----                ---- */
	.container{
		width: 90%;
		margin: 2em auto;
		max-width: 1150px;
  }


  
	.banner{
		width: 100%;
  }

  .profile-img{
    width: 40%;
    display: inline-block;
    float: right;
    padding: 20px 10px;
  }

  .banner p{
    width: 55%;
    display: inline-block;
    text-align: left;
    font-size: 1.25em;
    
  }


	.primary{
		width:50%;
	}	

	.secondary{
		width: 50%;
  }
  

	.col{
		float: left;
		padding-left: 1em;
		padding-right: 1em;
	}
  .footer-nav {
    display: inline-block;
  }

  .footer-nav{
    float: right;
    position: absolute;
    top: 0;
    right: 0;
  }

	
	.main-nav li, .footer-nav li{
    display: inline-block;
    margin-left: 30px;
	}

  .foot-name, 
  .footer-nav li {
    float: left;
    background-color: #fafafa;
	}

  footer span {
    display: none;
  }
}

@media (min-width: 1025px) {



	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

	.container{
		width: 80%;
		margin: 2em auto;
		max-width: 1150px;
	}

	.primary{
		width:33%;
	}	

	.secondary{
		width: 33%;
  }
  
  .tertiary{
    width: 33%;
  }

	.col{
		float: left;
		padding-left: 1em;
		padding-right: 1em;
		text-align: center;
	}

  .name, .main-nav a {
    text-align: center;
    display: inline-block;
    padding: 10px 15px;
  }

  .name {
    margin-left: 1em;
  }

.main-nav{
  float: right;
  position: absolute;
  top: 0;
  right: 0;
}

.name  {
  float: right;
  position: absolute;
  margin-top: 1em;
  top: 0;
  left: 0;
}
}

